body{
    margin:0;
    padding: 0;
    display: block;
    width: 100%;
    height: 720px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
scroll-page {

    display: flex;
    height: 105%;
}
#background{
    background-image: url("Images/fond.png");
    background-position: center;
    width : 100%;
    height: 100%;
    filter: blur(5 px) brightness(25%);
    -webkit-filter: blur(5px) brightness(25%);
}
#MsgBienvenu{
    position: absolute;
    text-align: center;
    padding-top: 20%;
    padding-left: 30%;
    color: #FFFFFF;
    font-family: MuseoW01-900, serif;


}
#bvnTestir{
    display: inline-flex;
    justify-content: center;
    align-self: center;
    font-size: 25px;

}
#imgTestirMsg{
    align-self: center;
    padding-left: 20px;
    
}

#page-2{
    background: black;
}
#page-3{
    background: black;
}

/* Apparence bar de navigation*/
#header
{
    position: fixed;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column-reverse;
    background: black  0 0 repeat-x;
    float:right;
    width: 100%;
    height: 50px;
    border: 1px solid #FFFFFF ;
}

.imageHeader{
    position: fixed;
    padding: 0;
    margin-top: -1%;
    margin-left: -3%;
    display: flex;
    flex-direction: row;


}

#imgTestirHeaderLogo{
    box-sizing: content-box;
    width: 28%;
    height: 28%;
}
#imgTestirHeader{
    box-sizing: content-box;
    height: 50%;
    width: 60%;

}


#header li
{
    background: transparent;
    position: relative;
    left : 55%;
    color: aliceblue;
    display:inline;
    padding:0;
    margin:0;
}

@font-face {font-family: "Apple SD Gothic Neo"; src: url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.eot"); src: url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.woff") format("woff"), url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.svg#Apple SD Gothic Neo") format("svg"); }
@font-face {font-family: "MuseoW01-900"; src: url("//db.onlinewebfonts.com/t/4cc9d692753925335e7af83ecf6e6815.eot"); src: url("//db.onlinewebfonts.com/t/4cc9d692753925335e7af83ecf6e6815.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4cc9d692753925335e7af83ecf6e6815.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4cc9d692753925335e7af83ecf6e6815.woff") format("woff"), url("//db.onlinewebfonts.com/t/4cc9d692753925335e7af83ecf6e6815.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4cc9d692753925335e7af83ecf6e6815.svg#MuseoW01-900") format("svg"); }
#header a:link, #nav a:visited
{
    color:#FFFFFF;
    background:transparent;
    padding:20px 40px 4px 10px;
    text-decoration: none;
    font-family: "Apple SD Gothic Neo", serif;
    font-size: 15px;
}

/* Page connexion

 */
#co{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #d10012;
    z-index: 1;
    filter: opacity(20%);

}
#coblanc{
    position: absolute;
    width: 40%;
    height: 85%;
    background-color: white;
    z-index: 2;
    margin-top: 5%;
    margin-left: 30%;

}
