/* style du header */
.header {
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: #000000;
    padding: 10px 10px;
}

/* Style des liens du header */
.header a {
    float: left;
    color: #f8fff9;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style de la box qui contient le logo  */
.header a.logo {
    margin: 0;
    padding: 0;
}
/* style des logo */
#imgTestirHeader{
    max-width: 50%;
    height: auto;

}
#imgTestirHeaderLogo{
    max-width: 30%;
    height: auto;

}

/* changement fond survole */
.header a:hover {
    background-color: #d10012;
    color: #ffffff;
}


.header a:after {
    background-color: #5d0013;
    color: #ffffff;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}