nav ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    background-color: #333333;
    display: flex;

}
nav li{
    display: inline-block;
    width: 100px;
    margin-right: 15px;

}
nav li a{
    text-decoration: none;
    color: #FFFFFF;
    text-align: right;
}
body{
    background-color: black;
}
aside{
    /*background-color: #FFFFFF;*/
}

.photoCompte img{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:150px;
    height:150px;
    background-position: top 75% left 25%;
}
#PrenomNom h1{
    color: #FFFFFF;
    align-content: center;
}
#Email h2{
    color: #FFFFFF;
}