body
{
    background: url("../../Images/fond_testir.png") repeat-y rgba(112, 112, 112, 0.8);
    margin:0
}

@font-face {font-family: "Apple SD Gothic Neo"; src: url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.eot"); src: url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.woff") format("woff"), url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.svg#Apple SD Gothic Neo") format("svg"); }
@font-face {font-family: "Agency FB"; src: url("//db.onlinewebfonts.com/t/f9b9a4fce362a3a9111c138859ccb422.eot"); src: url("//db.onlinewebfonts.com/t/f9b9a4fce362a3a9111c138859ccb422.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f9b9a4fce362a3a9111c138859ccb422.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f9b9a4fce362a3a9111c138859ccb422.woff") format("woff"), url("//db.onlinewebfonts.com/t/f9b9a4fce362a3a9111c138859ccb422.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f9b9a4fce362a3a9111c138859ccb422.svg#Agency FB") format("svg"); }









/*
STYLE FORMULAIRE
.
.
.
*/
.body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form {
    background-image:linear-gradient(to bottom, Black 0%,#AC2938 100%);
    color: white;
    font-family: "Apple SD Gothic Neo", serif;
    display: flex;
    width: 85%;
    margin-left: 8%;
    text-align: center;
    flex-direction: column;
    border-radius: 5px;
}

.presentation_form h1 {
    font-size: 50px;
}

p {
    margin-top: 0;
    font-family: "Agency FB", serif;
    font-size: 25px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

fieldset {
    margin-bottom: 15px;
    padding: 10px;
    color: white;
    border-radius:1px;
    border:1px solid white;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background: hsl(0, 0%, 10%);
}

legend {
    padding: 0 3px;
    font-weight: bold;
    font-size: 35px;
}

label {
    display: inline-block;
    margin: 12px 0;
    position: relative;
    vertical-align: middle;
}

em {
    font-weight: bold;
    font-size: 35px;
    font-style: normal;
    font-family: Calibri, serif;
    color: white;
    padding: 8px 4px;
}

textarea {
    height: 100px;
}

select {
    width: 190px;
}

input:focus {
    background: #eaeaea;
}

input[type=checkbox] {
    width: 10px;
}
/*
.
.
.
FIN STYLE FORMULAIRE
*/




/*
STYLE SUBMIT
.
.
.
*/


.submit {
    position: relative;
    margin-left: 27%;
    margin-right: auto;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
    font-size: 2em;
    display: inline-block;
    font-family: Montserrat, serif;
    text-transform: uppercase;
    padding: 0.5em 2em;
    border:1px solid white;
    -webkit-transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
    transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
.submit::before {
    margin-left: auto;
    margin-right: auto;
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    background: white;
    -webkit-transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
    transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
    z-index: -1;
}
.submit::after {
    content: "";
    display: inline-block;
    background-image: url("https://image.flaticon.com/icons/png/128/109/109617.png");
    position: absolute;
    top: 0;
    left: calc(100% - 3em);
    right: 3em;
    bottom: 0;
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
    transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
}
.submit:hover {
    padding: 0.5em 3.5em 0.5em 0.5em;
}
.submit:hover::before {
    left: calc(100% - 3em);
    right: 0;
    -webkit-transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
    transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
.submit:hover::after {
    right: 0;
    -webkit-transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
    transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
.information_validation {
    background: hsl(0, 0%, 10%);
    color: white;
    font-family: "Apple SD Gothic Neo", serif;
    display: flex;
    width: 85%;
    text-align: center;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 180px;
}
/*
.
.
.
FIN STYLE SUBMIT
*/













